flask
pymysql
flask-restx
opentelemetry-sdk
opentelemetry-exporter-otlp
opentelemetry-instrumentation
opentelemetry-instrumentation-flask
opentelemetry-instrumentation-pymysql
opentelemetry-instrumentation-system-metrics
psutil
cryptography